.messageBox {
  margin: 0 auto;
  width: 50%;
  padding: 15px 20px;
}

.greetBox,
.aboutBox,
.goalBox,
.studyBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.goalBox {
  margin-bottom: 60px;
}

.greetBox {
  margin: 130px 0 30px 0;
}

.textStyle span,
.textStyle_B span,
.goalBox span {
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 25px;
}

.textStyle span {
  background-color: rgba(239, 239, 244, 1);
  margin-bottom: 10px;
}

.textStyle_B span {
  background-color: #0070fe;
  border-radius: 15px;
  color: white;
  margin: 30px 0px;
}

#greetText {
  padding: 15px 20px;
}

.faceImg {
  width: 120px;
  margin-bottom: none;
}

.QuestionBox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.html {
  color: orange;
}

.css {
  color: #0070fe;
}

.js {
  color: rgb(255, 221, 0);
}

.react {
  color: #4db1ff;
}

.goalRef {
  width: 380px;
  padding: 15px 20px;
  border-radius: 15px;
  font-size: 16px;
  line-height: 25px;
  background-color: rgba(239, 239, 244, 1);
  margin-bottom: 10px;
}

.goalBox img {
  width: 100%;
}
